<h2 class="page-title"> API or Hosted </h2>

<div class="page-body">
	<p>
		Don’t know which product to use? Consider the following:
	</p>

	<ul>
		<li> Do you need to remove your exposure to PCI sensitive data?</li>
		<li> Do you want to offer your customer the ability to save and manage multiple payment cards accounts?</li>
		<li> Do you want the payments experience to integrate seamlessly with your website, internal back office systems
			or third party applications? </li>
	</ul>

	<p>
		If the answer was Yes to all three, then the Hosted product is for you.
	</p>

	<ul>
		<li> Do you already have the necessary controls in place to handle PCI sensitive data?</li>
		<li> Do you  want to retain control of the payments experience but with a low payment service integration cost?</li>
	</ul>

	<p>
		If the answer is Yes, then our API product is for you.
	</p>

	<ul>
		<li> Do you need to reduce your exposure to PCI sensitive data as well as retain control of the payments experience?</li>
	</ul>

	<p>
		Using our <a href="#payments/submit_tokens_instead_of_cards/card_lock">CardLock</a> and API products together maybe the right option for you.
	</p>

	<p>
		All offer a comprehensive set of transaction processing  and supplementary features as described in  subsequent  sections.
	</p>
</div>

