<h2 class="page-title"> Introduction </h2>

<div class="page-body">
	<p>
		PayPoint.net's PayCash is a secure, real-time, online cash payment service that allows you to accept payment for
		online transactions in cash.
		The solution, available in the UK and Ireland, is designed to maximise revenues through acceptance of customers
		for whom traditional payment
		methods are unavailable or undesirable.
	</p>

	<p>
		The services generates a barcode that is available to the customer online during the checkout process or sent to
		them via an email or SMS by you.
		The barcode can be scanned from a print out or a mobile device in any of PayPoint’s 25,000 outlets thus
		completing the payment.
		You will then receive instant payment confirmation for onward fulfilment, acknowledgement or reconciliation.
	</p>

	<p>
		You can integrate PayCash alongside PayPoint card transactions or without. There is no card processing
		pre-requisite.
	</p>
</div>

