<h2 class="page-title"> Tips for displaying the barcode </h2>

<div class="page-body">
	<p>
		Here are some handy tips to deliver the PayCash barcode, invoice and associated information in an effective
		manner in order
		to ensure successful payment conversion.
	</p>
	<ul>
		<li>
			Tell your cutomers how close they are to one of PayPoint’s 25,000 outlets.
			You can link direct to a search facility for finding the nearest outlet at
			<a href="http://www.paypoint.co.uk/paypointlocator">www.paypoint.co.uk/paypointlocator</a>.
			Alternatively you could integrate directly with PayPoint’s centralised web service for location nearest
			PayPoint outlets. See Outlet Locator.
		</li>
		<li>
			Confirm how much the customer must pay to complete the order. Provide a transaction reference in case of subsequent queries.
		</li>
		<li>
			Let them know exactly how to redeem the invoice – include guidance that if they can’t print the barcode
			they can make a note of the 19-digit number and provide this in store.
		</li>
		<li>
			Ensure the PayPoint logo is on the printable invoice – it’ll help customers spot the logo at participating
			stores.
		</li>
		<li>
			Add a clear, visible JavaScript button so the customer can print the invoice.
		</li>
	</ul>
	<p>
		<strong>Example PayCash barcode invoice:</strong>
	</p>
	<p>
		<img src="app/img/eg-barcode-invoice.png"/>
	</p>
</div>
